:host {
  display: block;
  padding: 2rem;
}

.showcase {
  &__badge-row {
    @apply flex flex-wrap gap-2;
  }

  &__size-row {
    @apply flex flex-wrap items-center gap-4;
  }

  &__color-row {
    @apply flex flex-wrap gap-3;
  }
}
